:root {
  --background-color: #EFF1F4;
  --dark-gray: #828282;
  --light-gray: #F6F6F6;
  --white: #fff;
  --black: #000;
  --red: #DA2720;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--background-color);
  font-family: 'Fira Sans', Arial, sans-serif;
  color: var(--black);
  font-weight: 400;
  font-size: 18px !important;
}
p {
  margin: 0;
}
.heading-h1, .heading-h2 {
  font-size: 40px;
  font-weight: 700;
}
.heading-h3 {
  font-size: 26px;
  font-weight: 600;
}
.mobileapp-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 40px 0;
}
.ma-btn {
  display: inline-block;
  color: var(--white);
  background-color: var(--red);
  border-radius: 12px;
  padding: 14px 40px;
  font-size: 20px;
  font-weight: 500;
  transition: 0.3s ease;
}
.ma-btn:hover {
    transform: scale(0.9);
}

/* FIRST SCREEN */
.mobileapp-breadcrumb {
    display: flex;
    align-items: center;
    gap: 10px;
}
.hero-content {
  background-image: url('../img/bg-images/main-banner.webp');
  background-color: var(--black);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -40% 10%;
  width: 100%;
  padding: 125px 40px;
  border-radius: 20px;
  margin: 40px 0;
}
.hero-content h1 {
    color: var(--white);
}
.hero-content p {
  font-size: 24px;
  color: var(--white);
  margin: 20px 0;
}
.mobileapp-setup, .mobileapp-instructions {
  margin: 40px 0;
}

/* COMPONENT: BONUS */
.block-bonus {
  background-color: var(--white);
  padding: 40px;
  border-radius: 20px;
}
.block-bonus span {
  font-size: 48px;
  font-weight: 600;
}
.block-bonus p {
  margin: 20px 0;
}

/* COMPONENT: DOWNLOAD-SETUP-SLIDER */
.mokup-wrapper {
  text-align: center;
  margin-top: 40px;
  display: flex;            
  justify-content: space-between;
  flex-wrap: nowrap;        
  overflow-x: auto;                  
  overflow-y: hidden;                
  -webkit-overflow-scrolling: touch; /* плавный скролл на iOS */
  gap: 16px;                        
}
.mokup-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: var(--white);
  padding: 20px 65px;
  border-radius: 32px;
  max-width: 364px;
  flex: 0 0 85%;           /* занимает 85% ширины контейнера, 15% остаётся «пикингом» */
  scroll-snap-align: start;
}
.mokup-item img {
  width: 246px;
  height: 477px;
}
.mokup-item .android-image img {
  width: 224px !important;
  height: 477px;
}

.mokup h3 {
  display: inline-block;
  width: fit-content;
}
.mokup-slider .mokup-wrapper {
  display: flex;
  overflow-x: auto;
  gap: 16px;               /* расстояние между карточками */
  padding: 0 16px;         /* отступы, чтобы первая/последняя не прилипали */
  scroll-snap-type: x mandatory;
}
.mobileapp-instructions .mokup-slider {
  position: relative;
}
.js-setup-slider .slider-btn,
.js-usage-slider .slider-btn {
  display: none;
}
.mobileapp-instructions .mokup-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  padding: 16px 0;
}
.mobileapp-instructions .mokup-item {
  scroll-snap-align: start;
}
.mobileapp-instructions .slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  border: none;
  background: var(--red);
  font-size: 24px;
  line-height: 1;
  padding: 15px;
  cursor: pointer;
  border-radius: 100px;
}
.mobileapp-instructions .slider-btn.prev { left: 8px; color: var(--white); }
.mobileapp-instructions .slider-btn.next { right: 8px; color: var(--white); }
.mobileapp-instructions .mokup-wrapper::-webkit-scrollbar {
  height: 8px;
}
.mobileapp-instructions .mokup-wrapper::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}
.mobileapp-instructions .mokup-wrapper::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 4px;
}
.mobileapp-instructions .mokup-wrapper {
  scrollbar-width: thin;
  scrollbar-color: #c0c0c0 #f0f0f0;
}

/* COMPONENT: POP-UP */
.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  z-index: 1000;
}
.popup {
  position: fixed;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  background: white;
  padding: 40px;
  border-radius: 18px;
  z-index: 1001;
  max-width: 800px;
  width: 100%;
}
.popup-overlay.open {
  opacity: 1;
  visibility: visible;
}
.popup.open {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}
.popup-close {
  display: inline-block;
  white-space: nowrap;
  width: fit-content;
  padding: 14px 40px;
  font-size: 20px;
  font-weight: 500;
  color: var(--white);
  background-color: var(--red);
  border-radius: 12px;
  transition: 0.3s ease;
  margin-top: 20px;
}
.popup-content h3 {
  margin-bottom: 20px;
}

/* MEDIA QUERIES */
@media (max-width: 1024px) {
  .mobileapp-container {
    padding: 0 40px;
  }
  .hero-content {
    padding: 107px 20px;
  }
  .heading-h1 {
    font-size: 26px;
  }
  .hero-content p {
    max-width: 362px;
  }
  .js-setup-slider .slider-btn,
  .js-usage-slider .slider-btn {
    display: block;
  }

}
@media (max-width: 768px) {
  .mobileapp-container {
    padding: 0 20px;
  }
  .hero-content {
    background-position: 30% 40%;
    padding: 107px 20px;
  }
  .mokup-item {
    padding: 20px 45px;
  }
  .mobileapp-instructions .mokup-wrapper {
    overflow-x: auto;
  }
  .faq-question {
    font-size: 16px;
  }
  .heading-h2, .block-bonus span {
    font-size: 36px;
  }
  .popup {
    max-width: 700px;
    width: 100%;
  }
}
@media (max-width: 450px) {
  .heading-h2, .heading-h3, .block-bonus span {
    font-size: 24px;
  }
  .hero-content {
    background-position: 45% 40%;
    padding: 106px 18px;
  }
  nav {
    font-size: 16px;
  }
  p, li {
    font-size: 16px;
  }
  .hero-content p {
    max-width: 239px;
    font-size: 16px;
  }
  .block-bonus {
    padding: 25px;
  }
  .ma-btn {
    font-size: 16px;
  }
  .js-setup-slider .slider-btn,
  .js-usage-slider .slider-btn {
    display: none;
  }
  .faq-row {
    flex-direction: column;
    gap: 20px !important;
  }
  .popup {
    max-width: 400px;
    width: 100%;
    padding: 20px;
  }
  .hero-content .ma-btn {
    display: inline-block;
    width: max-content;
  }
  .ma-btn {
    display: block;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 375px) {
  .hero-content {
    background-position: 50% 40%;
  }
  .heading-h1, .heading-h2 {
    font-size: 22px;
  }
  .popup {
    max-width: 345px;
    width: 100%;
    padding: 15px;
  }
  .ma-btn {
    font-size: 16px;
  }
  .mokup-item {
    padding: 20px;
  }
}
@media (max-width: 320px) {
  body {
    font-size: 16px;
  }
  .heading-h1, .heading-h2 {
    font-size: 20px !important;
  }
  .heading-h3 {
    font-size: 18px;
  }
  .hero-content {
    padding: 80px 15px;
  }
  .hero-content p {
    font-size: 14px;
    margin: 10px 0;
  }
  .ma-btn {
    font-size: 14px;
  }
  .mokup-item {
    padding: 20px;
  }
  .popup {
    max-width: 300px;
    width: 100%;
    padding: 15px;
  }
  .mokup-item img {
    width: 200px;
    height: 388px;
  }
}